@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif');
.top-line {
  width: 100%;
  height: 30px;
  background-color: #000000;
}
.top-line__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  height: 100%;
}
.top-line__left {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-line__left a {
  text-decoration: none;
  color: #B4B4BE;
  font-size: 14px;
  text-align: center;
  margin-right: 20px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.top-line__left a:last-child {
  margin-right: 0;
}
.top-line__left-link-active {
  color: #FAFAFF !important;
  font-weight: bold;
}
.top-line__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-line__right-ogol {
  position: relative;
}
.top-line__right-ogol::before {
  content: "";
  background-image: url("../img/og.png");
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -20px;
}
.top-line__right-ogol:hover {
  color: white;
}
.top-line__right-ogol:hover::before {
  background-image: url("../img/og-h.png");
}
.top-line__right-register {
  position: relative;
}
.top-line__right-register::before {
  content: "";
  background-image: url("../img/reg.png");
  width: 17px;
  height: 19px;
  position: absolute;
  top: 3px;
  left: -20px;
}
.top-line__right-register:hover {
  color: white;
}
.top-line__right-register:hover::before {
  width: 17px;
  height: 19px;
  background-image: url("../img/reg-h.png");
}
.top-line__right-outh {
  position: relative;
}
.top-line__right-outh::before {
  content: '';
  background-image: url("../img/outh.png");
  width: 17px;
  height: 17px;
  position: absolute;
  top: 50%;
  left: -20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.top-line__right-outh:hover {
  color: white;
}
.top-line__right-outh:hover::before {
  background-image: url("../img/outh-h.png");
}
.top-line__right a {
  text-decoration: none;
  color: #B4B4BE;
  font-size: 14px;
  text-align: center;
  margin-right: 50px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.top-line__right a:last-child {
  margin-right: 0;
}
.header {
  background-color: #3A3A43;
}
.header__wrapper {
  padding: 0px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.header__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
}
.header__logo img {
  max-height: 32px;
  max-width: 100%;
  height: auto;
  width: 169px;
}
.header__link {
  padding: 10px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__link a {
  margin-right: 15px;
  color: white;
  text-decoration: none;
  border-bottom: 1px dashed white;
}
.header__special {
  width: 160px;
  margin: 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__special a {
  text-decoration: none;
  color: #D26C41;
  position: relative;
}
.header__special a::before {
  content: "";
  background-image: url("../img/vog.png");
  width: 20px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: -20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header__navigator {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}
.header__navigator a {
  text-decoration: none;
  padding: 0 5px;
  margin-right: 15px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #3A3A43;
  color: white;
}
.header__navigator a:last-child {
  margin-right: 0;
  border-bottom: none;
}
.header__navigator a:last-child:hover {
  fill: black;
  border-bottom: none;
}
.header__navigator a:hover {
  border-bottom: 2px solid #FFCC00;
  color: #FFCC00;
}
.header__banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 255px;
}
.header__banner-content {
  width: 100%;
  height: 30px;
  outline: 1px solid white;
}
.sidebar {
  width: 250px;
  min-width: 250px;
  background-color: #EBEBED;
  border-left: 1px solid #DBDBDB;
}
.sidebar__wrapper {
  padding: 40px 0;
}
.sidebar__item {
  border-bottom: 1px solid #CCCCCC;
  padding: 10px 0;
}
.sidebar__item-wrapper {
  padding: 0 15px;
}
.sidebar__item-wrapper a {
  text-decoration: none;
}
.sidebar__item-wrapper a img {
  width: 100%;
  height: 150px;
}
.sidebar__item-wrapper a span {
  color: #6D6670;
  font-size: 12px;
  line-height: 12px;
}
.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.content {
  width: 100%;
  padding-top: 25px;
}
.content__container {
  max-width: 976px;
  min-width: 740px;
  margin: 0 auto;
}
.content__wrapper {
  padding: 17px 20px 20px 30px;
  width: 100%;
  border: 1px solid #DCDCDC;
  margin-bottom: 70px;
}
.content__links {
  margin-bottom: 30px;
}
.content__links a {
  text-decoration: none;
  color: #2086C7;
  margin-right: 20px;
  position: relative;
  font-size: 14px;
}
.content__links a:after {
  content: ">";
  font-size: 14px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -10px;
}
.content__links a:last-child:after {
  content: "";
}
.content__big-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}
.content__big-text {
  color: #2E353A;
  font-size: 19px;
  font-weight: bold;
  line-height: 26px;
  width: 100%;
  max-width: 608px;
}
.content__big-timer {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content__big-timer-title {
  font-size: 18px;
  font-weight: bold;
  color: #2E353A;
  margin-bottom: 10px;
}
.content__big-timer-time {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  text-align: center;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  width: 120px;
  height: 35px;
  background-color: #424242;
  color: #FBC907;
}
.content__data {
  padding: 5px 10px;
  background-color: #FF5F47;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  text-align: center;
  max-width: 150px;
  color: white;
  margin-bottom: 40px;
}
.content__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
  border-bottom: 1px solid  #D9D9D9;
  margin-bottom: 25px;
}
.content__block-left img {
  max-width: 357px;
  height: auto;
}
.content__block-right {
  padding-left: 15px;
  padding-top: 15px;
}
.content__block-text {
  max-width: 515px;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 30px;
}
.content__block-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.content__block-links-text {
  margin-bottom: 0;
  margin-right: 10px;
}
.content__block-links-href {
  padding: 13px 20px;
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: #62C741;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}
.content__block-links-href:hover {
  text-decoration: none;
  color: white;
}
.content__special-title {
  font-size: 18px;
  margin-bottom: 20px;
}
.content__special-data {
  padding: 5px;
  max-width: 110px;
  background-color: #FF5F47;
  color: white;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  position: absolute;
  right: 10px;
  top: 10px;
  text-transform: uppercase;
}
.content__special-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #444242;
}
.content__special-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
.content__special-block:last-child {
  margin-bottom: 0;
}
.content__special-left {
  position: relative;
}
.content__special-left img {
  max-width: 292px;
  min-height: 194px;
}
.content__special-text {
  color: #7F8484;
  font-size: 14px;
}
.content__special-right {
  width: 100%;
  padding: 20px 0 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.content__special-right-block {
  max-width: 500px;
  width: 100%;
}
.content__special-right-timer {
  max-width: 100px;
  width: 100%;
  padding-left: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.content__special-right-timer span {
  width: 100%;
  margin-bottom: 5px;
  color: #606C6F;
}
.content__special-right-timer-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45px;
  height: 30px;
  background-color: #424242;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.content__special-right-timer-block-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.content__special-right-timer-block-left,
.content__special-right-timer-block-right {
  width: 50%;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content__special-right-timer-block-left {
  border-right: 1px solid white;
}
.content__special-right-timer-block-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #606C6F;
  margin-left: 10px;
}
.content__title {
  color: #2E353A;
  font-size: 18px;
  margin-bottom: 15px;
}
.content__grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content__col {
  width: 33.33333333%;
  border: 1px solid #DADADA;
  max-width: 304px;
  margin-bottom: 30px;
}
.content__col:hover {
  cursor: pointer;
}
.content__col-img img {
  height: 198px;
  width: 100%;
}
.content__col-bottom {
  padding: 15px 20px;
}
.content__col-title {
  color: #676767;
  font-size: 18px;
  margin-bottom: 10px;
}
.content__col-data {
  padding: 5px;
  background-color: #FF5F47;
  color: white;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  max-width: 110px;
  text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
  .content__grid {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content__col {
    width: 50%;
    margin: 10px;
  }
}
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'PT Serif';
}
