@import "variables.less";
@import "default.less";
@import "top-line.less";
@import "header.less";
@import "sidebar.less";
@import "wrapper.less";
@import "content.less";
@import "footer.less";
@import "media.less";
@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif');
body {
  box-sizing: border-box;
  font-family: 'PT Serif';
}
