.content {
  width: 100%;
  padding-top: 25px;
  &__container {
    max-width: 976px;
    min-width: 740px;
    margin: 0 auto;     
  }
  &__wrapper {
    padding: 17px 20px 20px 30px;
    width: 100%;
    border: 1px solid #DCDCDC;
    margin-bottom: 70px; 
  }
  &__links {
    margin-bottom: 30px;
    a {
      text-decoration: none;
      color: #2086C7;
      margin-right: 20px;
      position: relative;
      font-size: 14px;
      &:after {
        content: ">";
        font-size: 14px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -10px;
      }
      &:last-child {
        &:after {
          content: "";
        }
      }
    }
  }
  &__big {
    &-title {
      display: flex;
      margin-bottom: 25px;
    }
    &-text {
      color: #2E353A;
      font-size: 19px;
      font-weight: bold;
      line-height: 26px;
      max-width: 608px;
      width: 100%;
      max-width: 608px;
    }
    &-timer {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      &-title {
        font-size: 18px;
        font-weight: bold;
        color: #2E353A;
        margin-bottom: 10px;
      }
      &-time {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        text-align: center;
        border-radius: 2px;
        width: 120px;
        height: 35px;
        background-color: #424242;
        color: #FBC907;
      }
    }
  }
  &__data {
    padding: 5px 10px;
    background-color: #FF5F47;
    border-radius: 3px;
    text-align: center;
    max-width: 150px;
    color: white;
    margin-bottom: 40px;
  }
  &__block {
    display: flex;
    padding-bottom: 30px;
    border-bottom: 1px solid  #D9D9D9;
    margin-bottom: 25px;
    &-left {
      img {
         max-width: 357px;
         height: auto;
      }
    }
    &-right {
      padding-left: 15px;
      padding-top: 15px;
    }
    &-text {
      max-width: 515px;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 30px;
    }
    &-links {
      display: flex;
      align-items: center;
      &-text {
         margin-bottom: 0;
         margin-right: 10px;
      }
      &-href {
        padding: 13px 20px;
        text-align: center;
        color: white;
        text-decoration: none;
        background-color: #62C741;
        border-radius: 4px;
        &:hover {
          text-decoration: none;
          color: white; 
        }
      }
    }
  }
  &__special {
    &-title {
      font-size: 18px;
      margin-bottom: 20px;
    }
    &-data {
      padding: 5px;
      max-width: 110px;
      background-color: #FF5F47;
      color: white;
      font-size: 12px;
      line-height: 12px;
      text-align: center;
      position: absolute;
      right: 10px;
      top: 10px;
      text-transform: uppercase;
    }
    &-name {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
      color: #444242;
    }
    &-block {
      display: flex;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-left {
      position: relative;
      img {
        max-width: 292px;
        min-height: 194px;
      }
    }
    &-text {
      color: #7F8484;
      font-size: 14px;
    }
    &-right {
      width: 100%;
      padding: 20px 0 0 20px;
      display: flex;
      &-block {
        max-width: 500px;
        width: 100%;
      }
      &-timer {
        max-width: 100px;
        width: 100%;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
          width: 100%;
          margin-bottom: 5px;
          color: #606C6F;
        }
        &-block {
          display: flex;
          width: 45px;
          height: 30px;
          background-color: #424242;
          border-radius: 3px;
          &-wrapper {
            width: 100%;
            display: flex;
          }
          &-left, &-right {
            width: 50%;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          &-left {
            border-right: 1px solid white;
          }
          &-text {
            display: flex;
            align-items: center;
            font-size: 14px;
            color: #606C6F;
            margin-left: 10px;
          }
        }
      }
    }
  }
  &__title {
    color: #2E353A;
    font-size: 18px;
    margin-bottom: 15px;
  }
  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__col {
    width: 100% / 3;
    border: 1px solid #DADADA;
    max-width: 304px;
    margin-bottom: 30px;
    &:hover {
      cursor: pointer;
    }
    &-img {
      img {
        height: 198px; 
        width: 100%;
      }
    }
    &-bottom {
      padding: 15px 20px;
    }
    &-title {
      color: #676767;
      font-size: 18px;
      margin-bottom: 10px;
    }
    &-data {
      padding: 5px;
      background-color: #FF5F47;
      color: white;
      font-size: 12px;
      line-height: 12px;
      text-align: center;
      max-width: 110px;
      text-transform: uppercase;
    }
  }
}
@media screen and (max-width: 1200px){
  .content__grid {
    justify-content: center;
  }
    .content__col {
      width: 50%;
       margin: 10px;
    }
}