.header {
  background-color: #3A3A43;
  &__wrapper {
    padding: 0px 20px;
    display: flex;
  }
  &__logo {
    display: flex;
    align-items: center;
    margin-right: 25px;
    img {
      max-height: 32px;
      max-width: 100%;
      height: auto;
      width: 169px;
    }
  }
  &__link {
    padding: 10px 0;
    display: flex;
    height: 100%;
    align-items: center;
    a {
      margin-right: 15px;
      color: white;
      text-decoration: none;
      border-bottom: 1px dashed white;
    }
  }
  &__special {
    width: 160px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      text-decoration: none;
      color: #D26C41;
      position: relative;
      &::before {
        content: "";
        background-image: url("../img/vog.png");
        width: 20px;
        height: 24px;
        position: absolute;
        top: 50%;
        left: -20px;
        transform: translateY(-50%);
      }
    }
  }
  &__navigator {
    display: flex;
    align-items: center;
    margin-right: 30px;
    a {
      text-decoration: none;
      padding: 0 5px;
      margin-right: 15px;
      height: 100%;
      display: flex;
      align-items: center;
      border-bottom: 2px solid #3A3A43;
      &:last-child {
        margin-right: 0;
        border-bottom: none;
        &:hover {
          fill: black;
          border-bottom: none;
        }
      }
      color: white;
      &:hover {
        border-bottom: 2px solid #FFCC00;
        color: #FFCC00;
      }
    }
  }
  &__banner {
    display: flex;
    align-items: center;
    width: 255px;

    &-content {
      width: 100%;
      height: 30px;
      outline: 1px solid white;
    }
  }
}