.sidebar {
  width: 250px;
  min-width: 250px;
  background-color: #EBEBED;
  border-left: 1px solid #DBDBDB;
  &__wrapper {
    padding: 40px 0;
  }
  &__item {
    border-bottom: 1px solid #CCCCCC;
    padding: 10px 0;
    &-wrapper {
      padding: 0 15px;
      a {
        text-decoration: none;
        img {
          width: 100%;
          height: 150px;
        }
        span {
          color: #6D6670;
          font-size: 12px;
          line-height: 12px;
        }
      }
    }
  }
}