.top-line {
  width: 100%;
  height: 30px;
  background-color: #000000;
  &__wrapper {
    display: flex;
    padding: 0 20px;
    height: 100%;
  }
  &__left {
    height: 100%;
    display: flex;
    flex-grow: 2;
    align-items: center;
    a {
      text-decoration: none;
      color: #B4B4BE;
      font-size: 14px;
      text-align: center;
      margin-right: 20px;
      transition: all 0.3s;
      &:last-child {
        margin-right: 0;
      }
    }
    &-link-active {
        color: #FAFAFF !important;
        font-weight: bold;
    }
  }
  &__right {
    display: flex;
    height: 100%;
    align-items: center;
    &-ogol {
      position: relative;
      &::before {
        content: "";
        background-image: url("../img/og.png");
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -20px;
      }
      &:hover {
        color: white;
        &::before {
          background-image: url("../img/og-h.png");
        }
      }
    }
    &-register {
      position: relative;
      &::before {
        content: "";
        background-image: url("../img/reg.png");
        width: 17px;
        height: 19px;
        position: absolute;
        top: 3px;
        left: -20px;
      }
      &:hover {
        color: white;
        &::before {
          width: 17px;
          height: 19px;
          background-image: url("../img/reg-h.png");
        }
      }
    }
    &-outh {
      position: relative;
      &::before {
        content: '';
        background-image: url("../img/outh.png");
        width: 17px;
        height: 17px;
        position: absolute;
        top: 50%;
        left: -20px;
        transform: translateY(-50%);
      }
      &:hover {
        color: white;
        &::before {
          background-image: url("../img/outh-h.png");
        }
      }
    }
    a {
      text-decoration: none;
      color: #B4B4BE;
      font-size: 14px;
      text-align: center;
      margin-right: 50px;
      transition: all 0.3s;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}